<section class="cards-wrapper">
  <% @tags.each do |tag| %>
    <div class="card-grid-space">
      <a class="card" href="/tags/<%= tag.slug %>" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
        <div>
          <h1><%= tag.title.truncate(30) %></h1>
        </div>
      </a>
    </div>
  <% end %>
  <%= will_paginate @tags, renderer: BootstrapPagination::Rails %>
</section>
