<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <% @tag_posts.each do |post| %>
        <%= render "posts/post_item", post: post %>
      <% end %>
      <%= will_paginate @tag_posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
