<% @posts.each do |post| %>
  <div class="post-preview">
    <a href="post.html">
      <h2 class="post-title">
        <%= post.title %>
      </h2>
      <h3 class="post-subtitle">
        <p><%= truncate(strip_tags(post.content), length: 300) %></p>
      </h3>
    </a>
    <p class="post-meta">Posted by <a href="https://github.com/letattung">Kai</a> on <%= post.created_at %></p>
  </div>
  <hr>
<% end %>
