<% @posts.each do |post| %>
  <div class="post-preview">
    <h2 class="post-title">
      <%= link_to(post.title, post) %>
    </h2>
    <p><%= truncate(strip_tags(post.content), length: 300) %></p>
    <p class="post-meta">Posted by <a href="https://github.com/letattung">Kai</a> on <%= post.created_at %></p>
  </div>
  <hr>
<% end %>
