<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <div class="post-heading">
        <h1><%= @post.title %></h1><br>
        <span class="meta">Posted by <a href="https://github.com/letattung">Kai</a> on <%= @post.created_at %></span>
        <br><br>
        <% if current_user && current_user == post.user %>
          <div class="post-actions">
            <%= render "posts/post_action", post: @post %>
          </div>
        <% end %>
      </div>
      <article>
        <%= raw @post.content %>
      </article>
    </div>
  </div>
</div>
