.new-post,
.edit-post {
  .container {
    background-color: white;
    padding: 15px;

    .field {
      margin-bottom: 20px;
    }

    .editable {
      height: auto;
      min-height: 200px;
    }

    .actions {
      margin-top: 10px;
      float: right;
    }
  }
}
