.new-post,
.edit-post {
  .container {
    background-color: white;
    padding: 15px;

    .field {
      margin-bottom: 20px;
    }

    .editable {
      height: auto;
      min-height: 200px;
    }

    .actions {
      margin-top: 10px;
      float: right;
    }
  }
}

.post-mini,
.post {
  .post-header {
    margin-bottom: 10px;
    position: relative;

    .post-actions {
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;

      .post-edit,
      .post-delete {
        display: inline-block;
        padding: 5px;
      }
    }
  }
}
