/*
 *= require_self
 *= require select2/dist/css/select2.min
 *= require select2-bootstrap-theme/dist/select2-bootstrap.min
 *= require propellerkit/components/select2/css/pmd-select2
 */

.sbs-tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.sbs-tags li {
  float: left; 
}

.sbs-tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.sbs-tag::before {
  background: rgba(0,255,0,0.3);
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.sbs-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.sbs-tag:hover {
  background-color: crimson;
  color: white;
}

.sbs-tag:hover::after {
   border-left-color: crimson; 
}
