<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
      <% @category_posts.each do |category_post| %>
        <%= render "posts/post_item", post: category_post %>
      <% end %>
      <%= will_paginate @category_posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
