<h3>My memo</h3>
<hr><%= memo.content %>
<br><br>
<div class="pmd-card-actions">
    <%= link_to edit_memo_path(memo.id), remote: true do %>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button" id="edit-memo">Edit</button>
    <% end %>
    <%= link_to memo_path(memo.id), method: :delete, data: {confirm: "Are you sure?"}, remote: true do %>
        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button" id="edit-memo">Delete</button>
    <% end %>
</div>
