<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1><%= t "app_name" %></h1>
          <hr class="small">
          <span class="subheading">
            Không chịu bỏ gỗ vào lò sưởi mà ngồi đợi hơi nóng, thì cái đợi chờ là thiên thu.
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
